# Created by https://www.gitignore.io/api/eclipse

### Eclipse ###
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project

# CDT-specific
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath
# Class files
.class
